requests                # Apache Software License (Apache 2.0)
ddt                     # MIT License
python-dateutil         # Apache Software License, BSD License (Dual License)
bluepy                  # For Sphynx ??