flake8                    # Apache Software License (Apache 2.0)
pylint                    # GNU General Public License v2 (GPLv2)
pytest                    # MIT License
tox                       # MIT License
sphinx_rtd_theme          # MIT License
gitchangelog              # BSD License (BSD 3-Clause License)
twine                     # Apache Software License